<div class="result">
	<h1 class="result-header">
		<ul class="result-header-ul">
			<li class="merchant"> <%=result.merchant.name %> <span class="address"><%= result.merchant.state%></span></li>
			<li class="price"><span class="currency">AUD</span><%=result.price.to_i %></li>
		</ul>
	</h1>
	<div class="product-details">
		
		<div class="product-img-wrapper"> <img src="logo.png" alt="" class="product-img"> </div>
		  <p class="product-info"> <a href="<%=result.link %>" target="blank"><%=result.title %></a> </p> 
		
	</div>
</div>

