
<% @retailers.each do |r| %>

	


<h4 style="color: <%= "red" if r.maker.id == 3604 %>"><%=r.title %></h4>
<p><%=r.id %></p>
<a href= <%=r.link %> target = 'blank'>Product Link</a>
<ul>	
<li><%=r.maker.brand %></li>
<li><%=r.maker.code %></li>
<li><%=r.maker.series %></li>
<li><%=r.maker.model %></li>
<li><%=r.maker.kind %></li>
<li><%=r.maker.size %></li>
</ul>	
	
<% end %>

