<% content_for :css do %>
 <%= stylesheet_link_tag 'svg','form','results', media: 'all'%>
 <meta name="Mediapartners-Google" content="index">
 <meta name="robots" content="noindex, nofollow">
<% end %>

<div id="wrapper">
	<%=render 'shared/left' %>
	<div id="container">
		<%=render 'shared/logo' %>
		<%= render 'shared/form' %>
		
		<!-- SEARCH RESULTS -->
		<main id="results">
			<div class="facets-container">
				<ul id="facets-list">
					<%= render partial: 'shared/facet',  collection: @facets %>
				</ul>
			</div>
			<div class="results-container">
				<% if !@retailers.empty? %>
				<%= render partial: 'shared/result',  collection: @retailers %>
				<%else %>
				<%= render partial: 'shared/noresult' %>	
				<% end %>

				
			</div><!-- Results Container -->
		</main>
		<!-- END SEARCH RESULTS -->
		</div>
	<%= render 'shared/right' %>
	
</div><!-- div#wrapper -->
<%= render 'shared/footer' %>