<% content_for :css do %>
 <%= stylesheet_link_tag    'svg','form','index' %>
 <%= javascript_include_tag 'searches' %>
 <% end %>

<div id="wrapper">
	<%=render 'shared/left' %>
	<div id="container">
		<%=  render 'shared/logo' %>
		<%= render 'shared/form' %>
	</div>
	<%= render 'shared/right' %>
	<%= render 'shared/footer' %>	
</div>

