<p><h1>Makers#index</h1>
<p><p>Find me in app/views/makers/index.html.erb</p>

<p><%= Maker.mehmet.length %> many Istanbul Mehmet cymbals!!</p>
<p><%= Maker.zildjian.length %> many Zildjian cymbals!!</p>
<p><%= Maker.meinl.length %> many Meinl cymbals!!</p>
<p><%= Maker.paiste.length %> many Paiste cymbals!!</p>
<p><%= Maker.sabian.length %> many Sabian cymbals!!</p>
<p><%= Maker.istanbul.length %> many Istanbul cymbals!!</p>
<p><%= Maker.dream.length %> many Dream cymbals!!</p>
<p><%= Maker.ufip.length %> many Ufip cymbals!!</p>
<p><%= Maker.bosphorus.length %> many Bosphorus cymbals!!</p>