<!DOCTYPE html>
<html>
  <head>
    <title>Fcymbals</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'resets','layout', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
